.header-container{
    margin: auto;
    padding: inherit;
}

.site-logo{
    border-color: #20c997;
    border-style: solid;
    height: 90px;
    width: 23%;
    margin: 4px;
}

.top-banner{
    border-color: #d7d8da;
    border-style: solid;
    height: 90px;
    width: 75%;
    margin: auto;
}