.nav-base{
    background-color: black;
    margin: auto;
}

.nav-container{
    display: flex;
    height: 50px;
    margin-left: -3px;
}

.nav-category{
    height: 47px;
    width: 18.66666667%;
    flex: 0 0 auto;
    text-align: center;
    color: white;
    margin: 1px;
}

.nav-link-element{
    margin-top: 10px;
}

.nav-search{
    border-color: white;
    border-style: solid;
    color: white;
    height: 47px;
    margin-top: 2px;
    margin-left: 8%;
}

.nav-userbar{
    border-color: white;
    border-style: solid;
    color: white;
    margin: auto;
    height: 47px;
}

.nav-dropdown{
    position: absolute;
    background-color: black;
    min-height: 47px;
    width: 7.66666667%;
    margin-top: 13px;
    margin-left: -13px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.nav-dropdown-list{
    margin-left: -16px;
    width: 111px;
}

.nav-dropdown-item{
    text-decoration: none;
    color: white;
    display: block;
}

.nav-dropdown-item:hover{
    background-color: #adb5bd;
}

