header{
    width: 100%;
    height: 100px;
}

.header-container{
    margin: auto;
    padding: inherit;
}

.site-logo{
    border-color: #20c997;
    border-style: solid;
    height: 90px;
    width: 23%;
    margin: 4px;
}

.top-banner{
    border-color: #d7d8da;
    border-style: solid;
    height: 90px;
    width: 75%;
    margin: 4px;
}

nav{
    min-height: 60px;
}

section{
    min-height: 520px;
}

.content-box-parent{
    margin-left: 2px;
}

.content-box-left{
    width: 72%;
    min-height: 500px;
    margin: 10px;
    border-style: solid;
    border-color: pink;
}

.content-box-right{
    width: 25%;
    min-height: 500px;
    margin: 10px;
    border-style: solid;
    border-color: deeppink;

}

footer{
    width: 100%;
    height: 40px;
    background-color: lightgray;
}