header{
    width: 100%;
    height: 100px;
    background-color: #0c63e4;
}

section{
    background-color: gray;
    min-height: 520px;
}

nav{
    min-height: 60px;
    background-color: red;
}

.content-box-parent{
    margin-left: 2px;
}

.content-box-left{
    width: 72%;
    min-height: 500px;
    margin: 10px;
    background-color: pink;
}

.content-box-right{
    width: 25%;
    min-height: 500px;
    margin: 10px;
    background-color: deeppink;

}

footer{
    width: 100%;
    height: 40px;
    background-color: #a52834;
}