
.subcategory-container{
    min-height: 500px;
}

/* Image Carousel */

.image-container{
    min-height: 450px;
}

.image-preview-item{
    height: auto;
    width: 90%;
    margin: 3px;
    cursor: pointer;
}

.image-preview-item.hover-shadow{
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-hashtags{
    /*border-style: solid;*/
    /*border-color: #1a1e21;*/
    min-height: 30px;
}
